#!/bin/bash

set -e

echo "['log', 'envrc.start']"

if [ ! -d "./env" ]; then
	echo "['log', 'new-directory', './env']"
	mkdir -p ./env
fi

echo "['log', 'set-environment.go.start']"
export GOPATH="$(pwd)/env/go"
export PATH="$PATH:$GOPATH/bin"
echo "['log', 'set-environment.go.end']"


if [ ! -d "./.local" ]; then
	echo "['log', 'new-directory', './.local']"
	mkdir -p ./.rosewood
fi

if [ -f "./.local/todo" ]; then
	echo ""
	echo "=== TODO List ==="
	cat ./.local/todo.md
	echo ""
fi

echo "['log', 'envrc.end']"
